.card {
    border: 4px solid rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}
.top-card {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0;
}
.user {
    display: flex;
    align-items: center;
}
.user img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 5px;
}
.username {
    font-size: 30px;
    margin: 0;
}
.button-edit {
    position: relative;
}
.options__icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    backdrop-filter: saturate(180%) blur(20px);
    border: none;
    transform: rotate(90deg);
    margin-right: 20px;
}
  
@media (max-width: 768px) {
    .options__icon {
      transform: translate(0, 0) rotate(0);
    }
}
.options__icon span {
    width: 5px;
    height: 5px;
    background-color: rgb(75, 75, 75);
    border-radius: 2px;
}
.options__menu {
    display: none;
    position: absolute;
    top: 50%;
    right: 5;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(0, 0, 0, 0.096);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
} 
.options__menu .option {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: none;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 22px;
} 
.options__menu .option:hover {
    background-color: rgba(66, 66, 69, 0.7);
}
.show {
    display:block
}
.mid-card {
    width: 100%;
    padding-top: 0;
    text-align: center;
    margin-bottom: 20px;
}
.desc-post {
    font-size: 22px;
    text-align: left;
    margin: auto;
    width: 80%;
}
.img-post {
    background-color: gray;
    width: 80%;
    height: 400px;
    border-radius: 15px;
    margin: auto;
}
.img-post img {
    width: 100%;
    height: 100%;
}
.bot-card {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}
.actions {
    margin-left: 20px;
}
.button-like {
    text-decoration: none;
    border: none;
    background-color: white;
    height: 30px;
}
.actions img {
    height: 45px;
    width: 45px;
}