<%- include('partials/header') %>
<main class="o-main">
  <figure>
    <a target="_blank" href="img/logo.png">
      <img
        src="img/logo.png"
        alt="logo"
        width="600px"
        height="300px"
        class="imagem"
      />
    </a>
    <figcaption>Logo da empresa</figcaption>
  </figure>
</main>
<%- include('partials/footer') %>
