<%- include('partials/header') %>
<main class="o-main">
  <fieldset class="estilo_form">
    <legend id="estilo_legenda">Cadastro do novo local:</legend>
    <form method="post" action="/newLocation">
      <label for="cidade">Cidade</label>
      <select id="txtCidade" name="cidade" required>
        <option value="vazio"></option>
        <option value="Cotia">Cotia</option>
        <option value="Uberlândia">Uberlândia</option>
        <option value="Ipanema">Ipanema</option>
      </select>

      <label for="sigla">Sigla</label>
      <select id="txtCidade" name="sigla" required>
        <option value="vazio"></option>
        <option value="São Paulo">SP</option>
        <option value="Minas Gerais">MG</option>
        <option value="Rio de Janeiro">RJ</option>
      </select>

      <label for="bairro">Bairro</label>
      <select id="txtCidade" name="bairro" required>
        <option value="vazio"></option>
        <option value="Parque são george">Parque São George</option>
        <option value="Planalto">Planalto</option>
        <option value="Cocais">Cocais</option>
      </select>

      <a href="home.ejs">
      <input type="submit" value="Enviar"/>
    </a>
    </form>
  </fieldset>
</main>
<%- include('partials/footer') %>
