<%- include('partials/header') %>
<main class="o-main">
  <fieldset class="estilo_form">
    <legend id="estilo_legenda">Cadastro do novo local:</legend>
    <form method="post">
      <label for="nome">Nome Completo</label>
      <input
        type="text"
        id="txtNome"
        name="nome"
        placeholder="Digite seu nome.."
      />

      <label for="email">Sigla</label>
      <select id="txtCidade" name="cidade">
        <option value="são_paulo">SP</option>
        <option value="minas">MG</option>
        <option value="rio">RJ</option>
      </select>

      <label for="cidade">Cidade</label>
      <select id="txtCidade" name="cidade">
        <option value="cotia">Cotia</option>
        <option value="uberlândia">Uberlândia</option>
        <option value="Ipanema">Ipanema</option>
      </select>
      <input type="submit" value="Enviar" />
    </form>
  </fieldset>
</main>
<%- include('partials/footer') %>
